*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$btn_bg{
    border-bottom: 2px dotted darkgray;
}
.box{
    display: flex;
text-align: center;
    width: 50%;
    height: 100vh;
    background: rgb(238, 238, 238);
}
input{
    outline: 0;
    overflow: scroll;
    font-size: 20px;
    margin-top: 60px;
 width: 80%;
    height: 8vh;
    background: rgb(238, 238, 238);
    border: none;
$btn_bg
}
input:hover {
    border-bottom: 3px solid darkcyan;
}
.i1{
    $btn_bg
}
.i2{
    border-bottom: 2px solid rgb(255, 0, 0); 
}
h1{
    color: red;
    margin-left: 80px;
    text-align: start;
    font-size: 17px;
    font-weight: 100;
}
